footer .lqdi-heading--box {
	padding-top: 0;
	padding-bottom: 0;
}

footer .lqdi-list-wrap {
	padding-top: 0;
}

footer figure {
	width: 30% !important;
}

footer figure:last-child {
	width: 30% !important;
}

footer figure:first-child {
	width: 40% !important;
	padding: 0px 50px;
}