@media screen and (max-width: 70em) {
	.lqdi-width--forth {
		width: 50%;
	}

    #banner {
        height: 1470px;
    }
}

@media screen and (max-width: 60em) {
	.lqdi-width--third {
		width: 100%;
	}

	#banner {		
        height: 1260px;
	}
}

@media screen and (max-width: 50em) {
	#banner {
		height: 1048px;
	}

	.customizer {
		top: 0;
		width: 100%;
		height: auto;
		padding: 30px 0;
		-webkit-transform: none;
		transform: none;
		border-radius: 0;
	}

	.color-tool {
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: center;
		justify-content: center;
	}

	.color-tool li {
		margin: 3px;
	}

	.content {
		padding: 0;
	}

	.lqdi-section {
		padding: 40px 0;
	}

	.lqdi-content {
		padding: 0 10px;
	}

	.lqdi-width--forth,
	.lqdi-width--half {
		width: 100%;
	}

	.lqdi-logo,
	.lqdi-nav {
		width: 100%;
		text-align: center;
	}

	.lqdi-nav {
		line-height: 1.5;
		padding: 0;
	}

	.lqdi-heading--large {
		font-size: 2.25em;
	}

	.lqdi-blockquote {
		font-size: 1.5em;
	}

    /**/

    .lqdi-grid__item > .lqdi-grid__item {
        height: auto;
        padding: 0;
    }

	.break-mobile-2 {
		flex-wrap: nowrap;
		display: flex;
		padding: 0;
		top: -148px;
	}

	.break-mobile-2 > div:first-child {
		padding-right: 7.5px;
	}

	.break-mobile-2 > div:last-child {
		padding-left: 7.5px;		
	}

	.break-mobile-1 {
		padding-left: 50% !important;
	}

	.break-mobile-3 {
		width: 50% !important;
	}

	.break-mobile-4 {
		width: 100% !important; 
	}

	.header-padd {
		padding: 0;
	}

	#banner {
		padding-top: 160px;
	}

	.header-button {
		font-size: 12px;
	}

	.banner-button {
		font-size: 14px;
	}

	.lqdi-header {
		padding: 10px 0 0 0;
    	height: 140px;
	}

	.lqdi-nav a {
		position: relative;
    	top: 18px;
	}

	footer figure {
		width: 100% !important;
	}
	
	footer figure:last-child {
		width: 100% !important;
	}
	
	footer figure:first-child {	
		width: 100% !important;
	}

	input, textarea {
		width: 100%;
	}

    #message figure  {
        padding-left: 30px;
        padding-right: 30px;
    } 

	#auth .card {		
		width: 100%;
	}

	#auth .card-body {		
		padding: 0 1em;
	}

	.lqdi-img--large {
		height: 220px;
		line-height: 300px;
	}

	.height-400 {
		height: 260px;
	}

	.lqdi-img {
		line-height: 260px;
		height: 148px;
	}

	#articles h3 {
		font-size: 18px;
	}

	span, p, strong, label {
		font-size: 12px;
	}

	.card > .title {		
		font-size: 26px !important;
	}

	footer figure {
		margin-bottom: 60px;
	}

	footer .lqdi-grid__item {		
		margin: 0 0 30px;
	}

	.flex-align-center {		
		align-content: flex-end;		
	}

	footer .lqdi-heading--box {
		padding: 0;
	}

	.lqdi-list {
		margin: 0;
	}

	.lqdi-list li {
		padding: 10px 0;
	}

	input[type^=file] {
		width: 100%;		
		background: linear-gradient(to right, #F1F4F9 0, #F1F4F9 52%, #FFFFFF 0);
	}

	footer .lqdi-grid__item:first-child {
		margin: 0 0 50px;
	}

	
	footer .lqdi-grid__item:nth-child(2) {
		margin: 0;
	}
	
	.lqdi-pricing {		
		padding: 0;
	}

	.lqdi-nav span {		
		display: block;		
	}

	.card-body {
		overflow: scroll;
	}
	
}