@font-face {
  font-family: "PlusJakartaSans";
  src: url(/fonts/PlusJakartaSans-Regular.ttf?f539ae4a8884822210a4553cc88ca3dc) format("truetype");
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

body {
  font-weight: 500;
  font-size: 15px;
  font-family: "PlusJakartaSans", Arial, sans-serif;
}

.h1,
.h2 {
  white-space: pre-line;
  text-wrap: wrap;
  margin-top: 0;
}

.h1 {
  font-size: 36px;
}

.h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

h3 span {
  font-size: #08111E;
}

a {
  outline: none;
  color: transparent;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #FFFFFF;
}

button:focus {
  outline: none;
}

span,
p,
strong,
label {
  font-size: 15px;
}

/* Content */

.content {
  padding: 0;
  background: #FFFFFF;
  color: #08111E;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.lqdi-header {
  padding: 2em 0;
  position: fixed;
  width: 100%;
  background: #F1F4F9;
  z-index: 2;
  transition-duration: 1s;
}

.lqdi-header.scrolling {
  background: #FFFFFF;
}

.lqdi-nav {
  padding: 0 10px;
  line-height: 2.25;
}

.lqdi-nav span {
  font-weight: bold;
  display: inline-block;
  margin: 0 30px;
}

.lqdi-logo {
  display: block;
  font-weight: bold;
  padding: 0 20px;
  font-size: 1.5em;
  line-height: 1.5;
}

.lqdi-logo .fa {
  margin-right: 10px;
}

.header-padd {
  padding: 0 60px;
}

.lqdi-section {
  padding: 80px 0;
  min-height: 400px;
}

.lqdi-section--dark {
  background: #000000;
}

#banner,
section:nth-child(1) {
  background: linear-gradient(to top, #FFFFFF 0, #FFFFFF 28%, #F1F4F9 0);
}

#articles figure {
  width: 30%;
}

#articles figure:last-child {
  width: 40%;
}

#banner {
  padding-top: 120px;
}

.banner-img {
  border-radius: 15px;
}

#articles h3 {
  font-size: 24px;
}

#message figure {
  padding-left: 12%;
  padding-right: 50px;
}

.lqdi-content {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 2em;
}

.lqdi-grid {
  display: flex;
  flex-wrap: wrap;
}

.lqdi-grid--spread {
  justify-content: space-between;
}

.lqdi-grid__item {
  position: relative;
  float: left;
  width: 100%;
  margin: 0 0 30px;
  padding: 0 20px;
}

/**/

.lqdi-grid__item > .lqdi-grid__item {
  height: 100%;
}

.lqdi-grid__item > .lqdi-grid__item > figure.lqdi-grid__item,
.lqdi-grid__item > figure.lqdi-grid__item {
  height: auto;
  padding: 0;
  float: none;
}

/**/

.lqdi-width--half {
  width: 50%;
}

.lqdi-width--third {
  width: 33%;
}

.lqdi-width--forth {
  width: 25%;
}

.lqdi-heading {
  width: 100%;
  margin: 0;
}

.lqdi-heading__subline {
  display: block;
  font-size: 20px;
  margin: 25px 0 15px;
}

.lqdi-heading--single {
  padding: 0 20px 1.5em;
}

.lqdi-heading--box {
  padding: 30px;
  color: #FFFFFF;
}

.lqdi-heading--box > span {
  display: block;
}

.lqdi-heading--large {
  font-size: 36px;
}

.lqdi-img {
  text-align: center;
  line-height: 260px;
  height: 260px;
  font-size: 40px;
  color: #08111E;
  overflow: hidden;
}

.lqdi-img img {
  width: 100%;
  height: 100%;
}

.lqdi-link {
  background: transparent;
  text-align: center;
  line-height: 90px;
  font-weight: bold;
  height: 260px;
  color: #101113;
}

.lqdi-link > i {
  color: #101113;
}

.lqdi-link:hover,
.lqdi-link:focus {
  color: #101113;
}

.lqdi-img--large {
  height: 300px;
  line-height: 300px;
}

.lqdi-grid__item > p {
  line-height: 1.65;
  margin: 0;
}

.lqdi-caption > h3 {
  margin: 0;
  padding: 1em 0 0.5em;
}

.lqdi-caption--box {
  background: transparent;
}

.lqdi-section--dark .lqdi-caption--box {
  background: #FFFFFF;
}

.lqdi-pricing {
  text-align: left;
  padding: 0 0 20px;
}

.lqdi-bigtext {
  font-size: 3em;
  font-weight: bold;
  padding: 30px 0;
}

.lqdi-list-wrap {
  margin: 0 0 15px 0;
  padding: 10px 0;
  color: #FFFFFF;
}

.lqdi-list {
  list-style: none;
  padding: 0;
  margin: 0 20px;
}

.lqdi-list li {
  padding: 10px;
}

.lqdi-list li:last-child {
  padding-top: 20px;
}

.lqdi-button {
  border: none;
  background: #F1F4F9;
  color: #FFFFFF;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  padding: 1.5em 2.5em;
  margin: 20px 0;
  white-space: nowrap;
}

.lqdi-button .fa {
  margin-left: 10px;
}

.header-button {
  border: none;
  background: #000000;
  color: #FFFFFF;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  padding: 1.3em 2.5em;
  margin: 20px 0;
  white-space: nowrap;
  border-radius: 30px;
}

.banner-button {
  border: none;
  background: #0AB2B7;
  color: #FFFFFF;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
  padding: 1.3em 2.5em;
  margin: 20px 0;
  white-space: nowrap;
  border-radius: 30px;
}

.right {
  margin-left: auto;
}

.bottom {
  margin-bottom: auto;
}

.clear-right-padd {
  padding-right: 0;
}

.clear-margin-bottom {
  margin-bottom: 0;
}

.flex-align-center {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.flex-align-bottom {
  display: flex;
  flex-wrap: wrap;
  align-content: end;
}

.auto-height {
  height: auto !important;
}

.padd-left-100 {
  padding-left: 100px;
  padding-top: 34px;
}

.height-400 {
  height: 400px;
}

.margin-top-40 {
  margin-top: 40px;
}

.break-mobile-2 {
  flex-wrap: inherit;
  display: inherit;
}

.card {
  background: #090909;
  display: flex;
  height: 700px;
  flex-wrap: wrap;
  border-radius: 15px;
  padding: 25px 35px;
}

.card > .title {
  color: #FFFFFF;
  font-size: 32px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.4px;
  white-space: pre-line;
  text-wrap: wrap;
  width: 100%;
  margin-top: 0;
  margin-bottom: 55px;
}

.card form input {
  border-radius: 15px;
  padding: 7px 30px;
  width: 95%;
  height: 65px;
  border-radius: 50px;
  background: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

.card form input:active,
.card form input:focus {
  border-radius: 15px;
  padding: 7px 30px;
  width: 95%;
  height: 65px;
  border-radius: 50px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #08111E;
  outline: none;
}

.card form input::-moz-placeholder {
  text-align: center;
  color: #FFFFFF;
}

.card form input::placeholder {
  text-align: center;
  color: #FFFFFF;
}

.card > .text {
  color: #FFFFFF;
  font-size: 1 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.4px;
  white-space: pre-line;
  text-wrap: wrap;
  width: 100%;
}

.card .icons {
  display: flex;
}

.card .icons a {
  cursor: pointer;
  display: flex;
  width: 54px;
  height: 54px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  margin-right: 12px;
  background: #FFFFFF;
}

.card .icons a img {
  width: 27px;
  height: 27px;
  margin: auto;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

label {
  width: 100%;
  padding: 5px 12px 20px 12px;
  font-weight: bold;
}

input {
  width: 81%;
  padding: 12px;
  border-radius: 30px;
  background: #F1F4F9;
  border: 0px;
  margin-bottom: 30px;
}

input[type^=file] {
  width: 81%;
  padding: 12px;
  border-radius: 15px;
  background: linear-gradient(to right, #F1F4F9 0, #F1F4F9 28%, #FFFFFF 0);
  margin-bottom: 30px;
  border: 2px dashed #F1F4F9;
}

input[type^=file]::-webkit-file-upload-button {
  border: 0 solid transparent;
  background: #F1F4F9;
}

input[type^=file]::-webkit-file-upload-label {
  padding-left: 15px;
}

input[type^=submit] {
  color: #FFFFFF;
  width: 100%;
  max-width: 160px;
  padding: 12px;
  border-radius: 15px;
  background: #090909;
  margin-bottom: 30px;
  border-radius: 30px;
  margin-top: 20px;
  padding: 18px;
  font-size: 14px;
}

textarea {
  height: 205px;
  width: 81%;
  border-radius: 15px;
  background: #F1F4F9;
  border: 0px;
  margin-bottom: 15px;
}

#submit > .content > .coll:last-child {
  padding: 0 15px;
}

footer .lqdi-heading--box {
  padding-top: 0;
  padding-bottom: 0;
}

footer .lqdi-list-wrap {
  padding-top: 0;
}

footer figure {
  width: 30% !important;
}

footer figure:last-child {
  width: 30% !important;
}

footer figure:first-child {
  width: 40% !important;
  padding: 0px 50px;
}

@media screen and (max-width: 70em) {
  .lqdi-width--forth {
    width: 50%;
  }

  #banner {
    height: 1470px;
  }
}

@media screen and (max-width: 60em) {
  .lqdi-width--third {
    width: 100%;
  }

  #banner {
    height: 1530px;
  }
}

@media screen and (max-width: 50em) {
  .customizer {
    top: 0;
    width: 100%;
    height: auto;
    padding: 30px 0;
    transform: none;
    border-radius: 0;
  }

  .color-tool {
    flex-direction: row;
    justify-content: center;
  }

  .color-tool li {
    margin: 3px;
  }

  .content {
    padding: 0;
  }

  .lqdi-section {
    padding: 40px 0;
  }

  .lqdi-content {
    padding: 0 10px;
  }

  .lqdi-width--forth,
  .lqdi-width--half {
    width: 100%;
  }

  .lqdi-logo,
  .lqdi-nav {
    width: 100%;
    text-align: center;
  }

  .lqdi-nav {
    line-height: 1.5;
    padding: 0;
  }

  .lqdi-heading--large {
    font-size: 2.25em;
  }

  .lqdi-blockquote {
    font-size: 1.5em;
  }

  /**/

  .lqdi-grid__item > .lqdi-grid__item {
    height: auto;
    padding: 0;
  }

  .break-mobile-2 {
    flex-wrap: nowrap;
    display: flex;
    padding: 0;
    top: -200px;
  }

  .break-mobile-2 > div:first-child {
    padding-right: 7.5px;
  }

  .break-mobile-2 > div:last-child {
    padding-left: 7.5px;
  }

  .break-mobile-1 {
    padding-left: 50% !important;
  }

  .break-mobile-3 {
    width: 50% !important;
  }

  .break-mobile-4 {
    width: 100% !important;
  }

  .header-padd {
    padding: 0;
  }

  #banner {
    padding-top: 160px;
  }

  .lqdi-header {
    padding: 0.5em 0;
    height: 160px;
  }

  .lqdi-nav a {
    position: relative;
    top: 20px;
  }

  footer figure {
    width: 100% !important;
  }

  footer figure:last-child {
    width: 100% !important;
  }

  footer figure:first-child {
    width: 100% !important;
  }

  input,
  textarea {
    width: 100%;
  }

  #message figure {
    padding-left: 30px;
    padding-right: 30px;
  }
}

